@import "~normalize.css";

html {
  box-sizing: border-box;
  /*
  background: repeating-linear-gradient(45deg, #141421 0px, #141421 97px, #141421d4 97px, #141421d4 194px, #141421e8 194px, #141421e8 291px);
  */
  background-color: #e7ebfa;;
  overflow-x: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}